body{
    overflow-x: hidden;
      }
.input{
    width: 100%;
}
.navbar-toggler{
    float:right;
border: 0;
margin-right: 170px;
margin-top: -50px;
}
.navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus{
        outline: none;
        box-shadow: none;
        border: 0;
    }
    .toggler-icon{
        width: 30px;
        height: 3px;
        background-color:#262626;
        display: block;
        transition: all 0.2s;
    }
    .middle-bar{
        margin:5px auto;
    }
    .navbar-toggler .top-bar{
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    .navbar-toggler .middle-bar{
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .navbar-toggler .bottom-bar{
        transform: rotate(-45deg);
        transform-origin: 10% 10%;
    }
    .navbar-toggler.collapsed .top-bar{
        transform: rotate(0);
    }
    .navbar-toggler.collapsed .middle-bar{
       opacity: 1;
       filter: alpha(opacity=100);
    } 
    .navbar-toggler.collapsed .bottom-bar{
        transform: rotate(0);
    }
    .navbar-toggler.collapsed.toggler-icon{
        background-color: #777777;
    }

    @media (min-width:320px) and (max-width:991px){
        .sticky-top1{
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 1;
          padding-right: 10px;
        }
            }

            @media (min-width:320px) and (max-width:991px){
                .ash{
                 display: none;
                }
              }

              @media (min-width:320px) and (max-width:991px){
                .ash{
                 display: none;
                }
              }
              .abcd{
                padding-left: 60px;
              }

              @media (min-width:320px) and (max-width:480px){
                .gau{
                  padding-left: 75px;
              
                }
              }

              @media (min-width:425px) and (max-width:502px){
                .sticky-top2{
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 1;
          padding-right: 10px;
          padding-left: 40px;
        }
            }

            @media (min-width:768px) and (max-width:991px){
                .sticky-top3{
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 1;
          padding-right: 500px;
          padding-left: 50px;
        }
            }
            @media(min-width:768px) and (max-width:991px){
              .nav-link , .nav-item {
                text-align: right;
                margin-right: -500px;
                float: left;
              }
            }
        
        @media (min-width:768px) and (max-width:991px){
          .bcd{
        float: left;
        margin-left: 350px;
        }}
        @media only screen and (min-width: 992px) {
          .bcd{
          display: none;
        }
        }
        
        @media (min-width:767px) and (max-width:991px){
          .gau{
            padding-left: 200px;
          }
        }

        @media (min-width:320px) and (max-width:1024px){
          .bbg{
           display: none;
          }
          .ggb{
            height: 150px;
          }
        }
        @media (min-width:320px) and (max-width:426px){
          .gab{
           display: none;
          }
        }
        @media (min-width:320px) and (max-width:426px){
          .bbgg1{
         padding-left: -40px;
          }
        }
        .accordion .card-header:after {
          font-family: 'FontAwesome';  
          content: "\f068";
          float: right; 
      }
      .accordion .card-header.collapsed:after {
          /* symbol for "collapsed" panels */
          content: "\f067"; 
      }

      @media (min-width:1024px){
        .lap{
         display: none;
        }
      }

      @media (min-width:0px) and (max-width:991px) {
        .lag{
         display: none;
        }
      }
      @media (min-width:768px) and (max-width:990px){
        .m1{
       text-align: center;
        }
        .card2-text{
          margin-left: 20px;
        }
        .card2-title{
          margin-left: 20px;
        }
      }
      @media (min-width:0px) and (max-width:480px) {
        .m2{
         text-align: center;
        }
      }
      @media (min-width:320px) and (max-width:991px) {
        textarea,
        input{
          width: 100%;
          font-weight: 400;
          padding: 8px 10px;
          border-radius: 5px;
          border: 1.2px solid #c4cae0;
          margin-top:5px;
        }
        textarea{
          resize: none;
        }
      }
      @media (min-width:992px) and (max-width:2500px) {
        .form{
         display: none;
        }
      }


   
      